__pycache__/
*.pyc
venv/
.env
.DS_Store
cool-citadel-449418-k2-9a13580278b5.json
Create/
environment/
a/
new/

serviceAccountKey.json
node_modules/
static/js/firebase-config.jscool-citadel-449418-k2-e89b113a04f3.json
