body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Main Layout */
.main-content {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#usiu{
 
    font-weight: ExtraBold;
}
#events{
    margin-left: 150px;
    margin-top: -47px;
}

.image-area {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#login-image {
    width: 50%;
    max-height: 90%;
}

.login-section {
    width: 40%;
    padding: 50px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.yellowtext {
    color: #FED500;
}

.bluetext {
    color: #2B3990;
}

h5 {
    text-align: center;
    color: #666464;
}

form {
    margin-top: 20px;
}
label {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
}

/* Input Styling */
input{
    width: 100%;
    padding: 12px 20px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#email{
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    right: 10px;
    color: #666464;
}

#forgotpassword {
    text-align: right;
    margin-top: 5px;
    text-decoration: underline;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#login {
    background-color: #2B3990;
    color: white;
    margin-top: 20px;
}

#signup {
    background-color: white;
    color: #2B3990;
    border: 2px solid #2B3990;
    margin-top: 10px;
}

.or-divider {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
}

.or-divider::before, .or-divider::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background: #ccc;
    vertical-align: middle;
    margin: 0 5px;
}

/* Responsive */
@media (max-width: 900px) {
    .main-content {
        flex-direction: column;
        height: auto;
    }

    .image-area {
        width: 100%;
        padding: 30px;
    }

    .login-section {
        width: 100%;
        padding: 30px;
    }
}
