body {
    font-family: Arial, sans-serif;
}
.header {
   
    background-color: #2c3e50;
    padding: 10px 20px;
    color: white;
}
.header-content{
    margin-left: 300px;
}
.profile-container {
    margin-left: 300px;
    margin-top: -300px;
}
#profile-img {
    position: relative;
    z-index: 1000;
    width: 30px;
    height: 30px;   
   
}
#profile-menu {
    display:none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 150px;
    margin-right: 100px;
}

#profile-menu ul {
   
    list-style: none;
    margin: 0;
    padding: 10px;
}
#profile-menu ul li {
    display: flex;
    color: black;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
#profile-menu ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#profile-menu ul li:hover {
    background-color: #f4f4f4;
}
.list-image{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.search-bar {
    background-color: #4F46E5;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    color: white;
}

.search-bar select, .search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 30%;
}

.event-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-image {
    width: 80%;
    border-radius: 8px;
}

.event-date {
    font-weight: bold;
    margin-top: 10px;
}

.load-more {
    background-color: #6366F1;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #1F2937;
    padding: 20px;
    color: white;
    text-align: center;
}