<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logout_button.css') }}">
</head>

<body>
    <div class="topbar">
        <h4 class="logout-btn" id="logout" onclick="handleLogout()">Logout</h4>
    </div>

    <div class="container">
        <!-- Sidebar -->
        <nav class="sidebar" id="sidebar">

            <ul>
                <li><a href="/admin_dashboard"><img src="{{ url_for('static', filename='images/event.png') }}"
                            class="icon-img"> <span class="text">Events</span></a></li>
                <li><a href="/admin_qrcode"><img src="{{ url_for('static', filename='images/qr-code.png') }}"
                            class="icon-img"> <span class="text">QR Code</span></a></li>
                <li><a href="/admin_checkin"><img src="{{ url_for('static', filename='images/checkmark.png') }}"
                            class="icon-img"> <span class="text">Event Check In</span></a></li>
                <li><a href="/admin_feedback" class="active"><img
                            src="{{ url_for('static', filename='images/star.png') }}" class="icon-img"> <span
                            class="text">Event Feedback</span></a></li>
            </ul>

            <button id="new_event" class="btn">+ New Event</button>
        </nav>
    </div>

    <div class="main-content">
        <h1>Feed Back</h1>
        <p>View feedback about your event from those who attended</p>

        <div class="feedbackDetails">
            <table>
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Feedback</th>
                        <th>Date Posted</th>
                    </tr>
                </thead>

                <tbody id="feedbackTable"></tbody>

            </table>
        </div>

        <div class="modal" id="eventmodal">
            <div class="modal-content">

                <div class="modal-header">
                    <img src="{{ url_for('static', filename='images/back.png') }}" id="back">
                    <h2>USIU Events</h2>
                </div>

                <form>
                    <h3>Create Event</h3>

                    <label for="event_name">Event Name</label>
                    <input id="event-name" type="text" placeholder="Event Name">

                    <label for="location">Location</label>
                    <input id="loaction" type="text" placeholder="Location">

                    <label for="date">Date</label>
                    <input id="date" type="date" placeholder="Event Date">

                    <label for="price">Price</label>
                    <input id="price" type="number" default="Free" placeholder="Ticket Price">

                    <label for="start_time">Start Time</label>
                    <input id="start-time" type="time" placeholder="Start Time">

                    <label for="endtime">End Time</label>
                    <input id="end-time" type="time" placeholder="End Time">

                    <button id="create-event" type="submit">Create Event</button>

                </form>
            </div>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/admin_feedback.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
</body>

</html>