<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Event Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/event_details.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/back.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
</head>

<body class="bg-gray-100 text-gray-800">
  <div class="header">
    <a href="{{ url_for('client_dashboard') }}" class="back-link">
      <img src="{{ url_for('static', filename='images/back.png') }}" id="back">
    </a>
    <h3>USIU Events</h3>
  </div>

  <div class="event-container">
    <div id="event-info">
      <!-- Event details will be filled dynamically -->
    </div>

    <div class="event-price-container">
      <div>
        <h4 class="price-label">Price:</h4>
        <p id="event-price" class="price-text">Loading...</p>
      </div>
      <!-- Container for Register/Delist buttons -->
      <div id="button-container">
        <!-- The register button will be here initially -->
        <button id="registerButton" class="register-button">Register</button>
      </div>
    </div>
  </div>


  <!-- Place for QR Code to appear after registration -->
  <div id="qrModal" class="modal">
    <div class="modal-content" id="modal-content">
      <img id="qrImage" alt="QR Code" class="qr-image mx-auto mb-4" />
      <div class="event-details">
        <!-- Event details below will be inserted dynamically -->
      </div>
      <button id="closeModal" class="close-btn" onclick="close()">Close</button>
    </div>
  </div>


  <script type="module" src="{{ url_for('static', filename='js/event_details.js') }}"></script>
</body>

</html>