<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>

<body>

    <header>
        <h1>QR Code Ticket Generator</h1>
    </header>

    <div class="container">
        <h2>Team George</h2>
        <div class="form-container">
            <h2>Enter Your Email and Ticket Info</h2>
            <form id="qrForm">
                <input type="email" id="email" placeholder="Enter your email" required>
                <input type="text" id="ticketInfo"
                    placeholder="Enter your ticket info (text to be encoded in the QR code)" required>
                <button type="submit">Generate QR Code</button>
            </form>

            <!-- Loading Spinner -->
            <div id="loadingSpinner" class="spinner">
                <img src="https://i.gifer.com/9vvP.gif" height="50" width="50" alt="Loading...">
            </div>

            <!-- Success and Error Messages -->
            <p id="responseMessage" class="message"></p>
            <p id="errorMessage" class="error"></p>
        </div>
        <p>Disclaimer: I'm not a designer 🤷🏾‍♂️</p>
    </div>

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script src="{{ url_for('static', filename='js/firebase-config.js')}}"></script>
</body>

</html>