<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | USIU Smart Tickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="main-content">
        <div class="image-area">
            <img id="login-image" src="{{ url_for('static', filename='images/login_image.png') }}" alt="login_image">
        </div>

        <div class="login-section">
            <h2 class="bluetext" id="usiu">USIU</h2>
            <h2 class="yellowtext" id="events">Events</h2>

            <h5>Login into your account</h5>
            <form id="loginForm" method="POST">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>

                <br>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <br>
                <h5 class="bluetext" id="forgotpassword">Forgot Password?</h5>

                <button id="login" type="submit">Login Now</button>

                <div class="or-divider">OR</div>

                <button id="signup" type="button" onclick="goToSignup()">Sign Up Now</button>
            </form>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>